
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<li>@Html.ActionLink("Builds", "Index", "buildModels")</li>
<li>@Html.ActionLink("Heroes", "Index", "heroModels")</li>
<li>@Html.ActionLink("Edit User", "Index", "Account")</li>
<li>@Html.ActionLink("Click here to manage the user roles.", "Index", "IdentityRoles") </li>
<li>@Html.ActionLink("Skill Builds", "Index", "SkillBuildModels") </li>